body{
  margin: 0;
  padding: 0;
}

.body{
  height: 100vh;

  margin: 0;
  display: flex;
}

.form{
  align-items: center;
  margin-top: 10%;
  text-align: center;
  width: 40%;
  margin-left: 30%;
}

.title{
  font-size: 280%;
  color: white;
  margin-bottom: 5%;
}

.inputUser{
  font-size: 110%;
  text-align: center;
  width: 70%;
  height: 37px;
  border: 3px solid white;
  color: white;
  background-color: transparent;
}
input::placeholder {
  color: white;
}

.inputSenha{
  margin-top: 5%;
  width: 70%;
  height:35px;
  font-size: 110%;
  text-align: center;
  background-color: transparent;
  border: 3px solid white;
  color: white;
}

.buttonEnviar{
  width: 50%;
  margin-top: 5%;
  height: 45px;
  margin-bottom: 5%;
  border: 3px solid white;
  color: white;
  background-color: transparent;
  font-size: 110%;
}

.buttonEnviar:hover{
  background-color: rgb(5, 105, 105);
}

.inputSenha:hover{
  background-color: rgb(5, 105, 105);
}

.inputUser:hover{
  background-color: rgb(5, 105, 105);
}

.linkCadastro{
  color: white;
}